@model Sieu_Thi_Mini.Models.User

@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Chi tiết người dùng";
}

<h3>Chi tiết người dùng</h3>

<table class="table table-bordered w-50">
    <tr>
        <th>ID</th>
        <td>@Model.UserId</td>
    </tr>
    <tr>
        <th>Họ tên</th>
        <td>@Model.FullName</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>@Model.Email</td>
    </tr>
    <tr>
        <th>SĐT</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>Quyền</th>
        <td>@Model.Role</td>
    </tr>
</table>

<a asp-area="Admin"
   asp-controller="User"
   asp-action="Index"
   class="btn btn-secondary">
    Quay lại
</a>
