@using Sieu_Thi_Mini.Models
@model List<Product>

@{
    Layout = ViewData["Layout"]?.ToString() ?? "_Layout";
    ViewData["Title"] = "Home";
}

<h2>Product List</h2>

<div class="row">
    @foreach (var p in Model)
    {
        <div class="col-md-3 mb-4">
            <div class="card h-100">
                <img src="@p.ImageUrl" class="card-img-top" alt="@p.ProductName" />

                <div class="card-body">
                    <h5 class="card-title">@p.ProductName</h5>
                    <p class="card-text">
                        Price: <strong>@p.Price.ToString("N0")</strong> VND
                    </p>
                    <p>
                        Stock: @p.Stock
                    </p>
                </div>

                <div class="card-footer text-center">
                    <a asp-area ="Customer"
                        asp-controller="Cart"
                       asp-action="Add"
                       asp-route-id="@p.ProductId"
                       class="btn btn-primary">
                        Add to Cart
                    </a>
                </div>
            </div>
        </div>
    }
</div>
